{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <!-- MAIN CONTENT -->
  <div class="flex-container">
    <div class="main">
      <h2>Lorem</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate tempora 
        dolore delectus magni sed mollitia nihil magnam. Porro libero ut minus ullam, 
        earum hic, quod possimus, repudiandae voluptatem dolor nostrum.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate tempora 
        dolore delectus magni sed mollitia nihil magnam. Porro libero ut minus ullam, 
        earum hic, quod possimus, repudiandae voluptatem dolor nostrum.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate tempora 
        dolore delectus magni sed mollitia nihil magnam. Porro libero ut minus ullam, 
        earum hic, quod possimus, repudiandae voluptatem dolor nostrum.
      </p>
    </div>
    <div class="aside">
      <h2>Lorem</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate tempora 
        dolore delectus magni sed mollitia nihil magnam. Porro libero ut minus ullam, 
        earum hic, quod possimus, repudiandae voluptatem dolor nostrum.
      </p>
    </div>
  </div>

  <!-- BLOG POSTS -->
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  <!-- ACCORDION -->
  <div class="flex-container flexaccordion">
    <div>
        <button class="accordion">Section 1</button>
        <div class="panel">
            <p>Lorem ipsum...</p>
        </div>
        <button class="accordion">Section 2</button>
        <div class="panel">
            <p>
              ...dolor sit, amet consectetur adipisicing elit. Obcaecati, perspiciatis, 
              natus totam ipsa saepe, delectus rem laboriosam dolores..
            </p>
        </div>
        <button class="accordion">Section 3</button>
        <div class="panel">
            <p>...debitis quia voluptas impedit voluptates quam perferendis eveniet 
              rerum deserunt est corrupti cumque nesciunt unde fugiat, sapiente 
              expedita quibusdam eos quod?
            </p>
        </div>
    </div>
</div>
{% endblock %}

<!-- <i class="far fa-calendar-alt"></i> für date of posts
<i class="far fa-clock"></i> for time of posts -->
