<!-- TODO: rework this -->
<div class="flex-container">
    <div class="intro">
        <p></p>
    </div>
    <!-- make a nice "Currently in developement" page  as a 
    placeholder for all the future ideas of myself -->
    <!-- "for feedback or contacting me click here" (redirect to contact.html)-->
    <div class="aside">
        <img src="me.jpg" alt="An image of myself">
        <p><i class="fas fa-briefcase margin-right"></i>PhD student at University of Leipzig</p>
        <p><i class="fas fa-home margin-right"></i>Leipzig, Germany</p>               
        <p><i class="fas fa-envelope margin-right"></i>Matthias.Portius@gmx.de</p>
        <p><i class="fab fa-github margin-right"></i>github.com/matthiasportius</p>
        <hr>
        <h3>Skills</h3>
        <h3>Languages</h3>
        
    </div> 
    <div class="main">
        <div class="work-experience">
            <h2><i class="fas fa-suitcase margin-right"></i>Work experience</h2>
            <h5>PhD student</h5>
            <h6><i class="far fa-calendar-alt margin-right"></i>XXXX - XXXX</h6>
            <p>Lorem ipsum dolor sit amet.</p>
            <hr>
            <h5>PhD student</h5>
            <h6><i class="far fa-calendar-alt margin-right"></i>XXXX - XXXX</h6>
            <p>Lorem ipsum dolor sit amet.</p>
            <hr>
            <h5>PhD student</h5>
            <h6><i class="far fa-calendar-alt margin-right"></i>XXXX - XXXX</h6>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="education">
            <h2><i class="fas fa-school margin-right"></i>Education</h2>
            <h5>Master of Science</h5>
            <h6><i class="far fa-calendar-alt margin-right"></i>XXXX - XXXX</h6>
            <hr>
            <h5>Bachelor of Science</h5>
            <h6><i class="far fa-calendar-alt margin-right"></i>XXXX - XXXX</h6>
        </div>
    </div>
</div>

<!-- <i class="fas fa-flask"></i> für chemie bezug -->
<!-- or add chemistry artwork -->
