{% extends 'base.html' %}

<!-- 
  useful pattern, sets title block and then outputs its value 
  into header block 
-->
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="register" method="post" novalidate>
    <label for="username">Username: *</label>
    <input name="username" id="username" autofocus maxlength="20" required>
    <span></span>
    <label for="mail">Email Adress:</label>
    <input type="email" name="mail" id="mail" required>
    <span></span>
    <label for="password">Password: *</label>
    <input type="password" name="password" id="password" minlength="8" 
    pattern="[a-zA-Z0-9?!#]+" title="Allowed: letters, numbers or '?!#'" 
    required>
    <span></span> <br>
    <span class="register-error" aria-live="polite"></span>
    <label for="rpassword">Repeat Password: *</label>
    <input type="password" name="rpassword" id="rpassword" minlength="8" 
    pattern="[a-zA-Z0-9?!#]+" title="Allowed: letters, numbers or '?!#'" 
    required>
    <span></span>
    <input type="submit" value="Register">
  </form>
{% endblock %}
